@model IEnumerable<Authentication.Models.Customer>

@{
    Layout = null;
    ViewBag.Model = Model;

}
<script type="text/javascript">
    $(function () {
        $("#ddlProvince").change(function () {
            $.getJSON("/Customers/getDistrict", { province_id: $("#ddlProvince").val() }, function (d) {
                var row = "";
                $("#ddlDistrict").html('');
                $('#ddlSubDistrict').html('');
                $('#ddlSubDistrict').append('<option value="">Select Sub-District</option>');
                $.each(d, function (i, v) {
                    row += "<option value=" + v.value + ">" + v.text + "</option>";
                });
                $("#ddlDistrict").html(row);
            })
        })
        $("#ddlDistrict").change(function () {
            $.getJSON("/Customers/getSubDistrict", { district_id: $("#ddlDistrict").val() }, function (d) {
                var row = "";
                $("#ddlSubDistrict").html('');
                $.each(d, function (i, v) {
                    row += "<option value=" + v.value + ">" + v.text + "</option>";
                });
                $("#ddlSubDistrict").html(row);
            })

        })
        $("#ddlSubDistrict").change(function () {
            $.getJSON("/Customers/getZipcode", { subdistrict_id: $("#ddlSubDistrict").val() }, function (d) {
                $.each(d, function (i, v) {
                    $("#txtZipcode").val(v.zipcode);
                });
            })

        })
    })

    $(document).ready(function () {
        $('#dtCreateDate').daterangepicker({
            showDropdowns: true,
            minDate: '01/01/2021',
            dateLimit: { days: 365 },
            maxDate: moment(),
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });

        $('#dtCreateDate').on('apply.daterangepicker', function (ev, picker) {
            globalThis.vCreateDate = "y";
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        });

        $('#dtEditDate').daterangepicker({
            showDropdowns: true,
            minDate: '01/01/2021',
            dateLimit: { days: 365 },
            maxDate: moment(),
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });

        $('#dtEditDate').on('apply.daterangepicker', function (ev, picker) {
            globalThis.vEditeDate = "y";
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        });

        $('#txtCustomerCode').val(@Html.Raw(Json.Serialize(@ViewBag.customercode)));
        $('#txtCustomerName').val(@Html.Raw(Json.Serialize(@ViewBag.customername)));
        $('#txtAddress1').val(@Html.Raw(Json.Serialize(@ViewBag.address1)));
        $('#txtAddress2').val(@Html.Raw(Json.Serialize(@ViewBag.address2)));
        $('#txtAddress3').val(@Html.Raw(Json.Serialize(@ViewBag.address3)));
        $('#ddlProvince').val(@Html.Raw(Json.Serialize(@ViewBag.province)));
        if (@Html.Raw(Json.Serialize(@ViewBag.district)) != null) {
            $('#ddlDistrict').val(@Html.Raw(Json.Serialize(@ViewBag.district)));
        }
        else {
            $('#ddlDistrict option:eq(0)').prop('selected', true);
        }
        if (@Html.Raw(Json.Serialize(@ViewBag.subdistrict)) != null) {
            $('#ddlSubDistrict').val(@Html.Raw(Json.Serialize(@ViewBag.subdistrict)));
        }
        else {
            $('#ddlSubDistrict option:eq(0)').prop('selected', true);
        }
        $('#txtZipcode').val(@Html.Raw(Json.Serialize(@ViewBag.zipcode)));
        $('#txtPhoneNo').val(@Html.Raw(Json.Serialize(@ViewBag.phoneno)));
        $('#txtMobileNo').val(@Html.Raw(Json.Serialize(@ViewBag.mobileno)));
        $('#txtFaxNo').val(@Html.Raw(Json.Serialize(@ViewBag.faxno)));
        $('#txtEmail').val(@Html.Raw(Json.Serialize(@ViewBag.email)));
        $('#txtContact').val(@Html.Raw(Json.Serialize(@ViewBag.contact)));
        $('#ddlActive').val(@Html.Raw(Json.Serialize(@ViewBag.active)));
        $('#txtCreateBy').val(@Html.Raw(Json.Serialize(@ViewBag.createby)));
        $('#txtEditBy').val(@Html.Raw(Json.Serialize(@ViewBag.editby)));
        if (String(@Html.Raw(Json.Serialize(@ViewBag.createdatestate))) === "y")
            $('#dtCreateDate').daterangepicker({
                "startDate": String(@Html.Raw(Json.Serialize(@ViewBag.startcreatedate))),
                "endDate": String(@Html.Raw(Json.Serialize(@ViewBag.endcreatedate))),
                locale: {
                    cancelLabel: 'Clear'
                }
            });

        if (String(@Html.Raw(Json.Serialize(@ViewBag.editdatestate))) === "y")
            $('#dtEditDate').daterangepicker({
                "startDate": String(@Html.Raw(Json.Serialize(@ViewBag.starteditdate))),
                "endDate": String(@Html.Raw(Json.Serialize(@ViewBag.endeditdate))),
                locale: {
                    cancelLabel: 'Clear'
                }
            });


        $('#dtCreateDate').on('cancel.daterangepicker', function (ev, picker) {
            globalThis.vCreateDate = "n";
            $(this).val('');
        });

        $('#dtEditDate').on('cancel.daterangepicker', function (ev, picker) {
            globalThis.vEditeDate = "n";
            $(this).val('');
        });
    });
</script>
<fieldset>
        <legend>
            <span class="font-weight-bold" style="font-size: 16px;">Search / View Data</span>
        </legend>
</fieldset>
<hr class="mt-0 mb-1" style="border-top: 2px solid #bbb;" />
<div id="tool-panel" class="border" style="width: 100%; white-space: nowrap;">
    <partial name="_Btn_Group" />
</div>
<div id="search-block" class="border py-3" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;">
    <div class="container-fluid p-2">
        <div class="row">
            <div class="col-md-6 col-xl-5">
                <form class="form-inline frm-float-right" id="frm_txtOrderType" style="z-index: 10000 !important;">
                    <div class="form-group div-frm-group-search">
                        <label class="mx-3" for="txtCustomerCode"><b>Customer Code</b></label>
                        <input class="form-control txt-search-width-non" id="txtCustomerCode" />
                    </div>
                </form>
                <form class="form-inline frm-float-right">
                    <div class="form-group div-frm-group-search">
                        <label class="mx-3" for="txtCustomerName"><b>Customer Name</b></label>
                        <input class="form-control txt-search-width-non" id="txtCustomerName" />
                    </div>
                </form>


                <form class="form-inline frm-float-right">
                    <div class="form-group div-frm-group-search">
                        <label class="mx-3" for="ddlProvince"><b>Province</b></label>
                        <select id="ddlProvince" class="form-control txt-search-width-non" asp-items="ViewBag.ProvinceList">
                        </select>
                    </div>
                </form>
                <form class="form-inline frm-float-right">
                    <div class="form-group div-frm-group-search">
                        <label class="mx-3" for="ddlDistrict"><b>District</b></label>
                        <select id="ddlDistrict" class="form-control txt-search-width-non">
                            <option selected>Select District</option>
                        </select>
                    </div>
                </form>
                <form class="form-inline frm-float-right">
                    <div class="form-group div-frm-group-search">
                        <label class="mx-3" for="ddlSubDistrict"><b>Sub-District</b></label>
                        <select id="ddlSubDistrict" class="form-control txt-search-width-non">
                            <option selected>Select Sub-District</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-xl-5">

                <form class="form-inline frm-float-right">
                    <div class="form-group div-frm-group-search">
                        <label class="mx-3" for="txtPhoneNo"><b>Phone</b></label>
                        <input class="form-control txt-search-width-non" id="txtPhoneNo" />
                    </div>
                </form>
                <form class="form-inline frm-float-right">
                    <div class="form-group div-frm-group-search">
                        <label class="mx-3" for="txtMobileNo"><b>Mobile</b></label>
                        <input class="form-control txt-search-width-non" id="txtMobileNo" />
                    </div>
                </form>
                <form class="form-inline frm-float-right">
                    <div class="form-group div-frm-group-search">
                        <label class="mx-3" for="txtCreateBy"><b>Create By</b></label>
                        <input class="form-control txt-search-width-non" id="txtCreateBy" />
                    </div>
                </form>
                <form class="form-inline frm-float-right">
                    <div class="form-group div-frm-group-search">
                        <label class="mx-3" for="dtCreateDate"><b>Create Date</b></label>
                        <input id="dtCreateDate" name="dtCreateDate" type='text' class="form-control text-left txt-search-width-non dt-font" style="padding-right:2.5rem;" placeholder="mm/dd/yyyy-mm/dd/yyyy" />
                        <div class="arrow-datetime" onclick="$('#dtCreateDate').data('daterangepicker').toggle();">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                    </div>
                </form>
                <form class="form-inline frm-float-right">
                    <div class="form-group div-frm-group-search">
                        <label class="mx-3" for="ddlActive"><b>Active</b></label>
                        <select id="ddlActive" class="form-control txt-search-width-non" style="padding-left: 20px;">
                            <option>Select</option>
                            <option value="1">Active</option>
                            <option value="0">Non-Active</option>
                        </select>
                    </div>
                </form>

            </div>

        </div>
    </div>
    <div class="mr-3 mt-2" align="right">
        <button class="btn bg-new-search btn-search-clear btn-search" id="btnSearch" onclick="Search()">Search</button>
        <button class="btn btn-search-clear btn-clear" style="border: 1px solid #ced4da" onclick="clearSearch()">Clear</button>
    </div>
</div>
<partial name="_ViewData" />
