@model Authentication.Models.InboundItem
@{
    Layout = null;
    ViewData["Title"] = "Delete";
}
<script>
    function DeleteInboundItem() {
        $.ajax({
            type: "GET",
            url: '/InboundOrders/ConfirmDeleteResource',
            data: {
                id: $('#ipInboundItemId').val(),
            },
            success: function (result) {
                document.getElementById("btnXRes").style.pointerEvents = "none";
                document.getElementById("btnDeleteRes").style.pointerEvents = "none";
                document.getElementById("btnCloseRes").style.pointerEvents = "none";
                $('#pop_up3').html(result);
                $('#pop_up3').modal('show');
            },
            error: function (result) {
                alert('error');
            }
        });
        return false;
    }

</script>
<form id="delete-popup"
      asp-action="DeleteResource"
      enctype="multipart/form-data"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#resource"
      data-ajax-complete="OnCompleteResource"
      data-ajax-confirm="Do you want to Delete?"
      data-ajax-failure="OnFailureRequest">
    <div class="modal create-popup-w80" aria-hidden="true">
        <div class="modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <span>@ViewBag.Title Data</span>
                    <button type="button" class="close btn-x-pop" data-dismiss="modal" aria-label="Close" onclick="OnCompleteResource()" id="btnXRes">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5><b>Inbound Item</b></h5>
                    <hr />
                    <div class="row row-popup">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" value="@Model.Id" id="ipInboundItemId"/>
                            <input type="hidden" asp-for="line_no" value="@Model.line_no" />
                            <input type="hidden" asp-for="InboundOrderId" value="@Model.InboundOrderId" />
                            <input type="hidden" asp-for="ItemId" value="@Model.ItemId" />
                            <input type="hidden" asp-for="create_by" id="ipCreateByRes"/>
                            <input type="hidden" asp-for="create_date" id="ipCreateDateRes" />
                            <h4>Do you want to delete item name (@Model.Item.item_code: @Model.Item.item_name) ?</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @if (@User.IsInRole("Admin"))
                    {
                        <button type="submit" class="btn btn-footer-pop btn-save-pop" id="btnDeleteRes">Delete</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-footer-pop btn-save-pop" id="btnDeleteRes" onclick="DeleteInboundItem()">Delete</button>
                    }
                    <button type="button" class="btn btn-foote-popr btn-close-pop" data-dismiss="modal" id="btnCloseRes" onclick="OnCompleteResource()">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>


