@model IEnumerable<Authentication.Models.Location>

@{
    Layout = null;
    ViewBag.Model = Model;

}

<script type="text/javascript">
    $(document).ready(function () {
        $('#dtCreateDate').daterangepicker({
            showDropdowns: true,
            minDate: '01/01/2021',
            dateLimit: { days: 365 },
            maxDate: moment(),
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });

        $('#dtCreateDate').on('apply.daterangepicker', function (ev, picker) {
            globalThis.vCreateDate = "y";
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        });

        $('#dtEditDate').daterangepicker({
            showDropdowns: true,
            minDate: '01/01/2021',
            dateLimit: { days: 365 },
            maxDate: moment(),
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });

        $('#dtEditDate').on('apply.daterangepicker', function (ev, picker) {
            globalThis.vEditeDate = "y";
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        });

        $('#txtLocationCode').val(@Html.Raw(Json.Serialize(@ViewBag.locationcode)));
        $('#ddlLocationCategory').val(@Html.Raw(Json.Serialize(@ViewBag.locationcategory)));
        $('#ddlMixExpire').val(@Html.Raw(Json.Serialize(@ViewBag.mixexpire)));
        $('#ddlMixItem').val(@Html.Raw(Json.Serialize(@ViewBag.mixitem)));
        $('#ddlMixLot').val(@Html.Raw(Json.Serialize(@ViewBag.mixlot))),
        $('#txtCreateBy').val(@Html.Raw(Json.Serialize(@ViewBag.createby)));
        $('#txtEditBy').val(@Html.Raw(Json.Serialize(@ViewBag.editby)));
        if (String(@Html.Raw(Json.Serialize(@ViewBag.createdatestate))) === "y")
            $('#dtCreateDate').daterangepicker({
                "startDate": String(@Html.Raw(Json.Serialize(@ViewBag.startcreatedate))),
                "endDate": String(@Html.Raw(Json.Serialize(@ViewBag.endcreatedate))),
                locale: {
                    cancelLabel: 'Clear'
                }
            });

        if (String(@Html.Raw(Json.Serialize(@ViewBag.editdatestate))) === "y")
            $('#dtEditDate').daterangepicker({
                "startDate": String(@Html.Raw(Json.Serialize(@ViewBag.starteditdate))),
                "endDate": String(@Html.Raw(Json.Serialize(@ViewBag.endeditdate))),
                locale: {
                    cancelLabel: 'Clear'
                }
            });

        $('#dtCreateDate').on('cancel.daterangepicker', function (ev, picker) {
            globalThis.vCreateDate = "n";
            console.log(vCreateDate);
            $(this).val('');
        });

        $('#dtEditDate').on('cancel.daterangepicker', function (ev, picker) {
            globalThis.vEditeDate = "n";
            $(this).val('');
        });
    });
</script>

<fieldset>
    <legend>
        <span class="font-weight-bold" style="font-size: 16px;">Search / View Data</span>
    </legend>
</fieldset>
<hr class="mt-0 mb-1" style="border-top: 2px solid #bbb;" />
<div id="tool-panel" class="border" style="width: 100%; white-space: nowrap;">
    <partial name="_Btn_Group" />
</div>
<div id="search-block" class="border py-3" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;">
    <div class="container-fluid p-2">
        <div class="row">
            <div class="col-md-6 col-xl-5">
                <form class="form-inline frm-float-right" id="frm_txtOrderType" style="z-index: 10000 !important;">
                    <div class="form-group div-frm-group-search">
                        <label class="mx-3" for="txtLocationCode"><b>Location Code</b></label>
                        <input class="form-control txt-search-width-non" id="txtLocationCode" />
                    </div>
                </form>
                <form class="form-inline frm-float-right">
                    <div class="form-group div-frm-group-search">
                        <label class="mx-3" for="ddlLocationCategory"><b>Location Category</b></label>
                        <select id="ddlLocationCategory" class="form-control txt-search-width-non" asp-items="ViewBag.LocationCategoryList" style="padding-left: 20px;">
                        </select>
                    </div>
                </form>
                @* <form class="form-inline frm-float-right">
                <div class="form-group div-frm-group-search">
                <label class="mx-3" for="ddlMixExpire"><b> Expire</b></label>
                <select id="ddlMixExpire" class="form-control txt-search-width-non" style="padding-left: 20px;">
                <option>Select</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
                </select>
                </div>
                </form> *@
            </div>
            <div class="col-md-6 col-xl-5">

                <form class="form-inline frm-float-right">
                    <div class="form-group div-frm-group-search">
                        <label class="mx-3" for="txtCreateBy"><b>Create By</b></label>
                        <input class="form-control txt-search-width-non" id="txtCreateBy" />
                    </div>
                </form>
                <form class="form-inline frm-float-right">
                    <div class="form-group div-frm-group-search">
                        <label class="mx-3" for="dtCreateDate"><b>Create Date</b></label>
                        <input id="dtCreateDate" name="dtCreateDate" type='text' class="form-control text-left txt-search-width-non dt-font" style="padding-right:2.5rem;" placeholder="mm/dd/yyyy-mm/dd/yyyy" />
                        <div class="arrow-datetime" onclick="$('#dtCreateDate').data('daterangepicker').toggle();">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="mr-3 mt-2" align="right">
        <button class="btn bg-new-search btn-search-clear btn-search" id="btnSearch" onclick="Search()">Search</button>
        <button class="btn btn-search-clear btn-clear" style="border: 1px solid #ced4da" onclick="clearSearch()">Clear</button>
    </div>
</div>
<partial name="_ViewData" />
