@model IEnumerable<Authentication.Models.ItemReceived>

@{
    Layout = null;
    ViewBag.Model = Model;

}

<script type="text/javascript">
    $(document).ready(function () {
        $('#dtExpireDate').daterangepicker({
            showDropdowns: true,
            "startDate": moment(),
            "endDate": moment(),
            minDate: '01/01/2021',
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });

        $('#dtExpireDate').on('apply.daterangepicker', function (ev, picker) {
            globalThis.vExpireDate = "y";
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        });

        $('#dtReceiveDate').daterangepicker({
            showDropdowns: true,
            "startDate": moment(),
            "endDate": moment(),
            minDate: '01/01/2021',
            dateLimit: { days: 365 },
            maxDate: moment(),
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });

        $('#dtReceiveDate').on('apply.daterangepicker', function (ev, picker) {
            globalThis.vReceiveDate = "y";
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        });

        $('#txtOrderNumber').val(@Html.Raw(Json.Serialize(@ViewBag.ordernumber)));
        $('#txtItemCode').val(@Html.Raw(Json.Serialize(@ViewBag.itemcode)));
        $('#txtItemName').val(@Html.Raw(Json.Serialize(@ViewBag.itemname)));
        $('#ddlState').val(@Html.Raw(Json.Serialize(@ViewBag.state)));
        $('#txtReceiveQty').val(@Html.Raw(Json.Serialize(@ViewBag.receiveqty))),
        $('#txtCost').val(@Html.Raw(Json.Serialize(@ViewBag.cost)));
        $('#txtLotNo').val(@Html.Raw(Json.Serialize(@ViewBag.lotnumber)));

        if (String(@Html.Raw(Json.Serialize(@ViewBag.expiredatestate))) === "y")
            $('#dtExpireDate').daterangepicker({
                "startDate": String(@Html.Raw(Json.Serialize(@ViewBag.startexpiredate))),
                "endDate": String(@Html.Raw(Json.Serialize(@ViewBag.endexpiredate))),
                locale: {
                    cancelLabel: 'Clear'
                }
            });

        if (String(@Html.Raw(Json.Serialize(@ViewBag.receivedatestate))) === "y")
            $('#dtReceiveDate').daterangepicker({
                "startDate": String(@Html.Raw(Json.Serialize(@ViewBag.startreceivedate))),
                "endDate": String(@Html.Raw(Json.Serialize(@ViewBag.endreceivedate))),
                locale: {
                    cancelLabel: 'Clear'
                }
            });

        $('#txtDescription').val(@Html.Raw(Json.Serialize(@ViewBag.description)));

        $('#dtExpireDate').on('cancel.daterangepicker', function (ev, picker) {
            globalThis.vExpireDate = "n";
            $(this).val('');
        });

        $('#dtReceiveDate').on('cancel.daterangepicker', function (ev, picker) {
            globalThis.vReceiveDate = "n";
            $(this).val('');
        });
    });
</script>

<fieldset>
    <legend>
        <span class="font-weight-bold" style="font-size: 16px;">Search / View Data</span>
    </legend>
</fieldset>
<hr class="mt-0 mb-1" style="border-top: 2px solid #bbb;" />
<div id="tool-panel" class="border" style="width: 100%; white-space: nowrap;">
    <partial name="_Btn_Group" />
</div>
<div id="search-block" class="border py-3" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;">
    <div class="container-fluid p-2">
        <div class="row">
            <div class="col-md-6 col-xl-5">
                <form class="form-inline frm-float-right">
                    <div class="form-group div-frm-group-search">
                        <label class="mx-3" for="txtOrderNumber"><b>Order Number</b></label>
                        <input class="form-control txt-search-width-non" id="txtOrderNumber" />
                    </div>
                </form>
                <form class="form-inline frm-float-right">
                    <div class="form-group div-frm-group-search">
                        <label class="mx-3" for="txtItemCode"><b>Item Code</b></label>
                        <input class="form-control txt-search-width-non" id="txtItemCode" />
                    </div>
                </form>
                <form class="form-inline frm-float-right">
                    <div class="form-group div-frm-group-search">
                        <label class="mx-3" for="txtItemName"><b>Item Name</b></label>
                        <input class="form-control txt-search-width-non" id="txtItemName" />
                    </div>
                </form>

            </div>

            <div class="col-md-6 col-xl-5">
                <form class="form-inline frm-float-right">
                    <div class="form-group div-frm-group-search">
                        <label class="mx-3" for="dtExpireDate"><b>Expire Date</b></label>
                        <input id="dtExpireDate" name="dtExpireDate" type='text' class="form-control text-left txt-search-width-non dt-font" style="padding-right:2.5rem;" placeholder="mm/dd/yyyy-mm/dd/yyyy" />
                        <div class="arrow-datetime" onclick="$('#dtExpireDate').data('daterangepicker').toggle();">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                    </div>
                </form>
                <form class="form-inline frm-float-right">
                    <div class="form-group div-frm-group-search">
                        <label class="mx-3" for="dtReceiveDate"><b>Receive Date</b></label>
                        <input id="dtReceiveDate" name="dtReceiveDate" type='text' class="form-control text-left txt-search-width-non dt-font" style="padding-right:2.5rem;" placeholder="mm/dd/yyyy-mm/dd/yyyy" />
                        <div class="arrow-datetime" onclick="$('#dtReceiveDate').data('daterangepicker').toggle();">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                    </div>
                </form>
                <form class="form-inline frm-float-right">
                    <div class="form-group div-frm-group-search">
                        <label class="mx-3" for="ddlState"><b>State</b></label>
                        <select id="ddlState" class="form-control txt-search-width-non" asp-items="ViewBag.StateList">
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="mr-3 mt-2" align="right">
        <button class="btn bg-new-search btn-search-clear btn-search" id="btnSearch" onclick="Search()">Search</button>
        <button class="btn btn-search-clear btn-clear" style="border: 1px solid #ced4da" onclick="clearSearch()">Clear</button>
    </div>
</div>
<partial name="_ViewData" />