@model Authentication.Models.OutboundItem
@{
    Layout = null;
    ViewData["Title"] = "Delete Comfirmation";

}
<script>
    function ConfirmDeleteRes() {
        $.ajax({
            url: "/OutboundOrders/ValidPassword",
            data: {
                Username: $('#ipConfirmResUser').val(),
                Password: $('#ipConfirmResPass').val()
            },
            dataType: 'json',
            success: function (data) {
                if (data.result) {
                    $("#delete-comfirmation-resource").submit();
                }
                else {
                    $('#ipConfirmResUser').val('');
                    $('#ipConfirmResPass').val('');
                    $('#sConfirmResErr-Msg').text('Invalid Password.');
                }
            }
        });
    }

    $('#ipConfirmResPass').on('input', function (e) {
        if ($('#ipConfirmResPass').val().trim() !== '') {
            $('#sConfirmResErr-Msg').text('');
        }
    });
</script>
<form id="delete-comfirmation-resource"
      asp-action="ConfirmDeleteResource"
      enctype="multipart/form-data"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#resource"
      data-ajax-complete="OnCompleteConfirmDeleteResource"
      data-ajax-confirm="Do you want to Delete?"
      data-ajax-failure="OnFailureRequest">
    <div id="pop-up" class="modal delete-popup-comfirm" aria-hidden="true">
        <div class="modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <span>@ViewBag.Title</span>
                    <button type="button" class="close btn-x-pop" data-dismiss="modal" aria-label="Close" onclick="OnCloseComfirmRes()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row row-popup">
                        <div class="col-md-12">
                            <input type="hidden" asp-for="Id" value="@Model.Id" id="txtOutboundItemIDRes" />
                            <input type="hidden" asp-for="OutboundOrderId" value="@Model.OutboundOrderId" id="txtOutboundOrderIdRes" />
                            <input type="hidden" asp-for="ItemId" value="@Model.ItemId" id="txtItemIdRes" />
                            <input type="hidden" asp-for="remain_qty" value="@Model.remain_qty" id="txtRemainQtyRes" />
                            <input type="hidden" asp-for="create_date" value="@Model.create_date" id="txtCreateDateRes" />
                            <h4>Username<input id="ipConfirmResUser" name="ipConfirmResUser" type="text" style="width: 200px; height: 38px; padding: 6px 12px; margin-left: 10px; border: 1px solid #ced4da; border-radius: 0.25rem; ">&nbsp;&nbsp;&nbsp;Password<input id="ipConfirmResPass" name="ipConfirmResPass" type="password" style="width: 200px; height: 38px; padding: 6px 12px; margin-left: 10px; border: 1px solid #ced4da; border-radius: 0.25rem; "></h4>
                            <span class="text-danger" id="sConfirmResErr-Msg">@ViewBag.Msg</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-footer-pop btn-save-pop" id="btnConfirmDeleteRes" onclick="ConfirmDeleteRes()">Delete</button>
                    <button type="button" class="btn btn-foote-popr btn-close-pop" data-dismiss="modal" onclick="OnCloseComfirmRes()">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
