<div class="ml-2 my-2" style="width: 50%; display: inline-block;">
    <div class="btn-group">
        <div id="btn-group-sub-resource" class="btn-group" role="group">
            <button id="btn-perpage-sub-resource" class="btn dropdown-toggle text-white custom-dropdown-toggle btn-group-submenu btn-group-hide-filter" style="margin-left: 4px!important; padding-left: 7px;" data-toggle="dropdown">Limit @ViewBag.PerPageSubItm</button>
            <div class="dropdown-menu">
                <a id="custom-dropdown-item" class="dropdown-item" rel="0" href="#">Limit 10</a>
                <a id="custom-dropdown-item" class="dropdown-item" rel="1" href="#">Limit 20</a>
                <a id="custom-dropdown-item" class="dropdown-item" rel="2" href="#">Limit 30</a>
            </div>
        </div>
    </div>
</div>
<div id="page-number-sub-resource" class="ml-2 my-2" style="width: 50%; display: inline-block;">
    <div style="display: flex; justify-content: flex-end; margin-right: 30px;">
        <span class="page-detail">
            @ViewBag.FirstRecSubItm
            <span class="label-ext" id="LabelTo_labSubResource">&nbsp;to&nbsp;</span>
            @ViewBag.LastRecSubItm
            [
            <span class="label-ext" id="LabelOf_labSubResource">&nbsp;Page&nbsp;</span>
            @ViewBag.PageNoSubItm
            <span class="label-ext" id="LabelRows_labSubResource">&nbsp;of&nbsp;</span>
            @ViewBag.MaxPageSubItm
            ]
            &nbsp;
        </span>
        @if (ViewBag.MaxPageSubItm > 1)
        {
            if (ViewBag.PageNoSubItm == 1)
            {
                <span class="first-page">&nbsp;First&nbsp;</span>
            }
            else
            {
                <a class="page-number-sub-resource" id="page-first">First</a>
            }

            int idx = 1;
            for (int i = 1; i <= ViewBag.MaxPageSubItm; i++)
            {
                if (ViewBag.MaxPageSubItm <= 4)
                {
                    if (ViewBag.PageNoSubItm == i)
                    {
                        <span class="current-page">@i</span>
                    }
                    else
                    {
                        <a class="page-number-sub-resource">@i</a>
                    }
                }
                else
                {
                    if (ViewBag.MaxPageSubItm == 5)
                    {
                        if (ViewBag.PageNoSubItm == i)
                        {
                            <span class="current-page">@i</span>
                        }
                        else
                        {
                            if (i == 1)
                            {
                                if (ViewBag.PageNoSubItm >= 4)
                                {
                                    <span class="hidden-page">...</span>
                                }
                                else
                                {
                                    <a class="page-number-sub-resource">@i</a>
                                }
                            }
                            else if (i == 5)
                            {
                                if (ViewBag.PageNoSubItm >= 4)
                                {
                                    <a class="page-number-sub-resource">@i</a>
                                }
                                else
                                {
                                    <span class="hidden-page">...</span>
                                }
                            }
                            else
                            {
                                <a class="page-number-sub-resource">@i</a>
                            }


                        }
                    }
                    else
                    {
                        if (idx == 1)
                        {
                            if (ViewBag.PageNoSubItm == i)
                            {
                                <span class="current-page">@i</span>
                            }
                            else
                            {
                                if (ViewBag.PageNoSubItm >= 4)
                                {
                                    <span class="hidden-page">...</span>
                                }
                                else
                                {
                                    <a class="page-number-sub-resource">@i</a>
                                }
                            }
                            idx = idx + 1;
                        }
                        else if (idx == 2)
                        {
                            if (ViewBag.PageNoSubItm >= 4)
                            {
                                if ((ViewBag.PageNoSubItm + 1) == ViewBag.MaxPageSubItm)
                                {
                                    if ((ViewBag.PageNoSubItm - 2) == i)
                                    {
                                        <a class="page-number-sub-resource">@i</a>
                                        idx = idx + 1;
                                    }
                                }
                                else if (ViewBag.PageNoSubItm == ViewBag.MaxPageSubItm)
                                {
                                    if ((ViewBag.PageNoSubItm - 3) == i)
                                    {
                                        <a class="page-number-sub-resource">@i</a>
                                        idx = idx + 1;
                                    }
                                }
                                else
                                {
                                    if ((ViewBag.PageNoSubItm - 1) == i)
                                    {
                                        <a class="page-number-sub-resource">@i</a>
                                        idx = idx + 1;
                                    }
                                }
                            }
                            else
                            {
                                if (ViewBag.PageNoSubItm == i)
                                {
                                    <span class="current-page">@i</span>
                                    idx = idx + 1;
                                }
                                else
                                {
                                    <a class="page-number-sub-resource">@i</a>
                                    idx = idx + 1;
                                }
                            }
                        }
                        else if (idx == 3)
                        {
                            if (ViewBag.PageNoSubItm >= 4)
                            {
                                if ((ViewBag.PageNoSubItm + 1) == ViewBag.MaxPageSubItm)
                                {
                                    if ((ViewBag.PageNoSubItm - 1) == i)
                                    {
                                        <a class="page-number-sub-resource">@i</a>
                                        idx = idx + 1;
                                    }
                                }
                                else if (ViewBag.PageNoSubItm == ViewBag.MaxPageSubItm)
                                {
                                    if ((ViewBag.PageNoSubItm - 2) == i)
                                    {
                                        <a class="page-number-sub-resource">@i</a>
                                        idx = idx + 1;
                                    }
                                }
                                else if (ViewBag.PageNoSubItm == i)
                                {
                                    <span class="current-page">@i</span>
                                    idx = idx + 1;
                                }
                            }
                            else
                            {
                                if (ViewBag.PageNoSubItm == i)
                                {
                                    <span class="current-page">@i</span>
                                    idx = idx + 1;
                                }
                                else
                                {
                                    <a class="page-number-sub-resource">@i</a>
                                    idx = idx + 1;
                                }
                            }
                        }
                        else if (idx == 4)
                        {
                            if (ViewBag.PageNoSubItm >= 4)
                            {
                                if (ViewBag.PageNoSubItm == ViewBag.MaxPageSubItm)
                                {
                                    if ((ViewBag.PageNoSubItm - 1) == i)
                                    {
                                        <a class="page-number-sub-resource">@i</a>
                                        idx = idx + 1;
                                    }
                                }
                                else
                                {
                                    if ((ViewBag.MaxPageSubItm - 1) == ViewBag.PageNoSubItm)
                                    {
                                        <span class="current-page">@i</span>
                                        idx = idx + 1;
                                    }
                                    else
                                    {
                                        if ((ViewBag.PageNoSubItm + 2) == ViewBag.MaxPageSubItm)
                                        {
                                            <a class="page-number-sub-resource">@i</a>
                                            idx = idx + 1;
                                        }
                                        else
                                        {
                                            if ((ViewBag.PageNoSubItm + 1) == i)
                                            {
                                                <a class="page-number-sub-resource">@i</a>
                                                idx = idx + 1;
                                            }
                                        }
                                    }
                                }
                            }
                            else
                            {
                                <a class="page-number-sub-resource">@i</a>
                                idx = idx + 1;
                            }
                        }
                        else if (idx == 5)
                        {
                            if (ViewBag.PageNoSubItm >= 4)
                            {

                                if ((ViewBag.PageNoSubItm + 2) == ViewBag.MaxPageSubItm)
                                {
                                    <a class="page-number-sub-resource">@i</a>
                                    break;
                                }
                                else if ((ViewBag.PageNoSubItm + 1) == ViewBag.MaxPageSubItm)
                                {
                                    <a class="page-number-sub-resource">@i</a>
                                    break;
                                }
                                else if (ViewBag.PageNoSubItm == ViewBag.MaxPageSubItm)
                                {
                                    <span class="current-page">@i</span>
                                    break;
                                }
                                else
                                {
                                    <span class="hidden-page">...</span>
                                    break;
                                }
                            }
                            else
                            {
                                <span class="hidden-page">...</span>
                                break;
                            }
                        }
                    }
                }
            }

            if (ViewBag.PageNoSubItm == ViewBag.MaxPageSubItm)
            {
                <span class="last-page">&nbsp;Last&nbsp;</span>
            }
            else
            {
                <a class="page-number-sub-resource" id="page-last">Last</a>
            }
        }
        else
        {
            <span class="first-page">&nbsp;First&nbsp;</span><span class="current-page">&nbsp;1&nbsp;</span><span class="last-page">&nbsp;Last&nbsp;</span>
        }
    </div>
</div>
